body {
	background: #c0c0c0;
	color: #000;
	font: 100%/1.5em "Varela Round", sans-serif;
	line-height:1.429;
	margin:0;
	padding:0;
	text-align:centre;
}


h1 {
    color: Black;
    text-align: center;
	font-weight:400;
	line-height:1.1;
	margin-bottom:0.8em;
}


.topcontent {
	background-color:#FFF;
	padding:3% 4%;
	margin-bottom:10%;
	border:solid 1px #F00;
	width:50%;
	margin:auto;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:20px;
	}
	
	